.catalog-page {
	.main-text {
		.container {
			padding-top: 50px;

			.start {
				display: flex;
				justify-content: space-between;
				align-items: center;
				padding-top: 50px;

				.link {
					form {
						display: flex;
						font-size: 18px;

						input {
							padding-left: 50px;
						}

						input:checked+label {
							color: #4b42e3;
						}
					}
				}
			}
		}
	}

	.catalog {
		padding: 30px 0;
		.container {
			.main-start {
				display: flex;
				justify-content: center;

				.choose {
					width: 200px;

					form {
						h3 {
							font-size: 20px;
							font-weight: bold;
							padding: 25px 0;
						}

						label {
							padding: 10px 0;
						}

						input[type="radio"]:checked, 
						input[type="radio"]:not(:checked) {
							position: absolute;
							left: -9999px;
						}

						input[type="radio"]:checked + label, 
						input[type="radio"]:not(:checked) + label {
						    display: inline-block;
						    position: relative;
						    padding-left: 28px;
						    line-height: 20px;
						    cursor: pointer;
						}

						input[type="radio"]:checked + label:before, 
						input[type="radio"]:not(:checked) + label:before {
						    content: "";
						    position: absolute;
						    left: 0px;
						    top: 0px;
						    width: 16px;
						    height: 16px;
						    border: 1px solid #dddddd;
						    background-color: #ffffff;
						    margin: 10px 0;
						}

						input[type="radio"]:checked + label:before, 
						input[type="radio"]:not(:checked) + label:before {
						    border-radius: 100%;
						}

						input[type="radio"]:checked + label:after, 
						input[type="radio"]:not(:checked) + label:after {
						    content: "";
						    position: absolute;
						    -webkit-transition: all 0.2s ease;
						    -moz-transition: all 0.2s ease;
						    -o-transition: all 0.2s ease;
						    transition: all 0.2s ease;
						}

						input[type="radio"]:checked + label:after, 
						input[type="radio"]:not(:checked) + label:after {
						    left: 4px;
						    top: 4px;
						    width: 10px;
						    height: 10px;
						    border-radius: 100%;
						    background-color: #4B42E3;
						    margin: 10px 0;
						}

						input[type="radio"]:not(:checked) + label:after {
						    opacity: 0;
						}

						input[type="radio"]:checked + label:after {
						    opacity: 1;
						}
					}

					.look {
						margin: 50px 0;

						h4 {
							font-size: 20px;
							font-weight: bold;
							padding-bottom: 30px;
						}

						.photo {
							border: 1px solid #EDF2F5;
							border-radius: 6px;
							padding: 30px;
							width: 200px;
						}

						.pagination-one {
							display: flex;
							justify-content: center;
						}

						.pagination-one a {
							display: flex;
							justify-content: center;
							text-decoration: none;
							font-size: 0;
							font-weight: bold;

							width: 16px;
							height: 16px;
							border-radius: 1px solid #EEF3F5;
							background: #EEF3F5;
							margin: 30px 15px;
							border-radius: 50%;
						}

						.pagination-one a.active {
							background-color: #4B42E3;
							color: white;
							border-radius: 50%;
							width: 16px;
							height: 16px;
						}

						.pagination-one a:hover:not(.active) {
							background-color: #EEF3F5;
							border-radius: 50%;
						}
					}
				}

				.list {
					width: 100%;

					.start-item {
						display: flex;
						flex-flow: wrap;
						align-items: center;

						.item {
							margin: 0 15px;
							margin-bottom: 35px;

							&:hover{
								.photo {
									margin-top: -100px;
								}
							}
							.image {
								background: #EDF2F5;
								padding: 62px 70px;
								height: 384px;
								border-radius: 6px 6px 6px 0;
								z-index: 2;
								position: relative;
								overflow: hidden;
								transition: 1s linear;
							}

							.photo {
								width: 130px;
								height: 100%;
								.transition;
							}

							.knob {
								padding: 65px 0;
								z-index: 1;

								.btn {
									display: block;
									width: 135px;
									height: 50px;
									font-size: 15px;
									background: #4B42E3;
									color: #fff;

									&:hover {
										display: block;
										background: #fff;
										color: #4B42E3;
									}
								}
							}

							.vid {
								position: relative;
								z-index: 1;

								&:before {
									content: '';
									width: 30px;
									height: 30px;
									background: url(../../img/catalog-page/video.png);
									position: absolute;

									z-index: 2;
									left: 150px;
									bottom: 270px;
								}
							}

							.top {
								position: relative;
								z-index: 1;

								&:after {
									content: 'Топ';
									width: 50px;
									height: 50px;
									background: #F3B94F;
									color: #fff;

									border-radius: 50%;
									position: absolute;
									z-index: 2;
									display: flex;
									align-items: center;

									justify-content: center;
									top: 245px;
									left: 110px;
									font-weight: bold;
								}
							}

							.perc {
								position: relative;
								z-index: 2;

								&:before {
									content: '5%';
									width: 50px;
									height: 50px;
									background: #F34F4F;
									color: #fff;

									border-radius: 50%;
									position: absolute;
									z-index: 3;
									display: flex;
									align-items: center;

									justify-content: center;
									bottom: 5px;
									left: 110px;
									font-weight: bold;
								}
							}

							.text {
								padding: 35px 0;

								h4 {
									font-size: 20px;
									font-weight: bold;
									line-height: 35px;
								}

								h5 {
									font-size: 20px;
									font-weight: bold;
									line-height: 35px;

									span {
										text-decoration: line-through;
										color: #212431;
									}
								}

								.spec {
									color: #F34F4F;
								}
							}
						}
					}
				}
			}

			.pagination {
				display: flex;
				justify-content: flex-start;
				padding: 30px;
			}

			.pagination a {
				color: black;
				float: left;
				padding: 10px 15px;
				text-decoration: none;
				font-size: 15px;
				font-weight: bold;
			}

			.pagination a.active {
				background-color: #4B42E3;
				color: white;
				border-radius: 50%;
			}

			.pagination a:hover:not(.active) {
				background-color: #ddd;
				border-radius: 50%;
			}
		}
	}

	.sec-text {
		.gradient;
		padding: 50px 0;

		h2 {
			font-size: 50px;
			font-weight: bold;
			padding: 0 100px;
			text-align: center;

			span {
				display: inline-block;
	    		line-height: 52px;
				border-bottom: 10px solid #ACDDFF;
				border-radius: 5px;
			}
		}

		.list {
			padding: 50px 0;
			display: flex;

			.image {
				padding: 0 50px;
				position: relative;
				z-index: 1;

				&:before {
					content: '';
					width: 16px;
					height: 100px;
					background: #4B42E3;
					position: absolute;
					z-index: 5;
					transform: rotate(45deg);
					left: 100px;
					bottom: 665px;
				}

				&:after {
					content: '';
					background: url(../../img/about-page/1-2.png);
					position: absolute;
					z-index: -1;
					left: 25px;
					top: 580px;
					width: 170px;
					height: 170px;
				}

				img {
					border-radius: 50px 50px 0 50px;
					z-index: 2;
				}
			}

			.second-text {
				width: 550px;

				p {
					font-size: 15px;

					span {
						font-weight: bold;
					}
				}

				ul {
					list-style: disc inside;
					padding-bottom: 20px;
				}
			}
		}
	}

	@media screen and (max-width: 1024px) {
		.center {
			max-width: 1000px;
		}

		.catalog {
			.container {
				.start-item {
					display: flex;
					justify-content: space-around;
				}
			}
		}

		.sec-text {
			h2 {
				font-size: 30px;
				font-weight: bold;
				padding: 0 100px;
				text-align: center;

				span {
					display: inline-block;
					line-height: 52px;
					border-bottom: 10px solid #ACDDFF;
					border-radius: 5px;
				}
			}

			.list {
				padding: 50px 0;
				display: flex;

				.image {
					padding: 50px;
					position: relative;
					z-index: 1;

					&:before {
						content: '';
						width: 16px;
						height: 100px;
						background: #4B42E3;
						position: absolute;
						z-index: 5;
						transform: rotate(45deg);
						left: 100px;
						bottom: 660px;
					}

					&:after {
						content: '';
						background: url(../../img/about-page/1-2.png);
						position: absolute;
						z-index: -1;
						left: 25px;
						top: 510px;
						width: 170px;
						height: 170px;
					}

					img {
						border-radius: 50px 50px 0 50px;
						z-index: 2;
					}
				}

				.second-text {
					width: 550px;

					p {
						font-size: 13px;
						line-height: 20px;

						span {
							font-weight: bold;
						}
					}

					ul {
						list-style: disc inside;
						padding-bottom: 20px;

						li {
							line-height: 20px;
						}
					}

					.more {
						color: #4B42E3;
						text-transform: uppercase;
						font-weight: bold;
						position: absolute;
						bottom: 20px;
					}
				}
			}
		}	
	}

	@media screen and (max-width: 910px) {
		.center {
			max-width: 850px;
		}

		.main-text {
			.container {
				.start {
					h3 {
						font-size: 16px;
					}

					.link {
						form {
							label {
								font-size: 16px;
							}
						}
					}
				}
			}
		}

		.sec-text {
			h2 {
				font-size: 20px;
				font-weight: bold;
				padding: 0;
				text-align: center;

				span {
					line-height: 20px;
				}
			}

			.list {
				display: block;
				text-align: center;

				.image {
					padding: 0;
					position: relative;
					z-index: 1;

					&:before {
						content: '';
						display: none;
					}

					&:after {
						content: '';
						display: none;
					}

					img {
						border-radius: 50px 50px 0 50px;
						z-index: 2;
					}
				}

				.second-text {
					width: 100%;

					p {
						font-size: 13px;
						line-height: 20px;
					}
				}
			}
		}
	}

	@media screen and (max-width: 768px) {
		.center {
			max-width: 700px;
		}

		.main-text {
			.container {
				.start {
					display: block;

					.link {
						form {
							display: flex;
							justify-content: space-between;
							label {
								font-size: 16px;
							}

							input {
								padding-left: 0;
							}
						}
					}
				}
			}
		}

		.catalog {
			.container {
				.main-start {
					display: block;

					.choose{
						display: flex;
						width: 100%;
						flex-flow: wrap;
						justify-content: space-around;

						form {
							padding-right: 50px;
						}
					}
				}
			}
		}
	}

	@media screen and (max-width: 600px) {
		.center {
			max-width: 550px;
		}

		.main-text {
			.container {
				.start {
					display: block;
					text-align: center;

					.link {
						form {
							display: block;

							label {
								font-size: 14px;
							}

							input {
								padding-left: 0;
							}
						}
					}
				}
			}
		}

		.catalog {
			.container {
				.main-start {
					.choose{
						form {
							padding-right: 20px;
						}
					}
				}
			}
		}
	}

	@media screen and (max-width: 320px) {
		.center {
			max-width: 280px;
		}
	}
}