@import url(./default.less);
@import url(./mixin.less);

@font-face {
	font-family: ChunkFive;
	src: url(../Font/9273.ttf);
}

textarea::-webkit-input-placeholder {
	color: #d5d8d0;
	font-family: 'Verdana', sans-serif;
	font-size: 10px;
	font-style: italic;
	padding: 0 15px;
}

input::-webkit-input-placeholder {
	color: #d5d8d0;
	font-family: 'Verdana', sans-serif;
	font-size: 10px;
	font-style: italic;
}

.btn{
	margin-top: 5px;
	text-transform: uppercase;
	color: #ececec;

	background: #b9d885;
	border: 1px solid #bedb78;
	box-shadow: 3px 3px solid #82a94a;
	box-shadow: 0 0 10px rgba(130, 169, 74, 1);

	border-radius: 5px;
	cursor: pointer;
	text-align: center;
	font-family: ChunkFive;
	width: 158px;
	height: 36px;
	text-shadow: 1px 1px #6dac2a;
	.transition;

	&:hover{
		background: #a0ca65;
	}
	a&{
		display: inline-flex;
		align-items: center;
		justify-content: center;
	}
}
.center{
	position: relative;
	max-width: 990px;
	padding: 0 15px;
	width: 100%;
	margin: 0 auto;
}
.mobile-menu{
	display: none;
	background: transparent;

	svg{
		display: block;
	}
}

h1, h3, h4 {
	font-family: ChunkFive;
}

h2 {
	font-family: 'Pacifico', cursive;
}

body {
	background: url(../img/bg.png);
	background-size: cover;
	max-width: 1024px;
	margin: 0 auto;
}

header {
	p {
		text-align: center;
	}
	img {
		background-size: cover;
		background-repeat: no-repeat;
		padding: 25px 0;
	}
}//header

.text-section {
	p {
	    font-size: 24px;
	    color: #626859;
	    padding: 0 45px;
	    text-align: center;
	    line-height: 24px;
	    font-family: ChunkFive, sans-serif;
	}
}//text-section

.slide-section {
	.photo {
		margin: 60px 0;

		img {
			width: 100%;
		}

		h2 {
			color: #fff;
			position: relative;
			margin-top: -45px;
			text-align: center;
			font-size: 37px;
			text-shadow: 1px 1px #82a94a;
		}
	}
	
	.multiple-items {
		.list {
			margin: 0 15px;
			.item {
				h3 {
					color: #626859;
				}

				hr {
					background-color: #626859;
					margin: 10px 0;
					border: none;
					height: 1px;
				}

				.hr {
					background-color: #626859;
					height: 3px;
				}

				h6 {
					color: #626859;
					font-size: 12px;
				}

				p {
					color: #626859;
					font-size: 10px;
					padding-top: 15px;
				}

				span {
					color: #fff;
				}

				.span {
					font-weight: bold;
					color: #626859;
				}
			}
		}
	}//multiple-items 

	.slick-arrow {
		display: inline-block;
		position: absolute;

		width: 57px;
		height: 29px;

		font-size: 0;
		z-index: 2;
		top: 150px;
	}

	.slick-prev {
		background: url(../img/slider/prev.png);
		left: 0;
	}

	.slick-next {
		background: url(../img/slider/next.png);
		right: 0;
	}
}//slide-section

.tickets-section {
	text-align: center;
	background: url(../img/pay/banner.png);
	background-size: contain;
    background-repeat: round;
	margin-top: 50px;
	padding: 0 0 25px 0;

	h2 {
		color: #ddd879;
		font-size: 48px;
		font-family: 'Pacifico', cursive;
		text-shadow: 1px 1px #fff;
	}
}//tickets-section

.contact-section {
	background: url(../img/contact/4.png);
	background-size: contain;
    background-repeat: round;
	
	display: flex;
	padding: 10px 0 10px 50px;
	margin: 20px 0 50px 0;

	align-items: stretch;

	& > *{
		margin-bottom: 25px;
	}

	.list {
		border-right: 1px solid #464a40;
		padding-right: 25px;

		h2 {
			color: #464a40;
			font-size: 52px;
			text-shadow: 1px 1px #7a7e75;
		}

		form {
			max-width: 262px;

			input {
				border: none;
				border-radius: 25px;
				margin-bottom: 10px;
				height: 28px;
			}

			textarea {
				height: 135px;
				margin-bottom: 10px;
			}
		}

		.wrapp {
			&:after {
				content: '';
				display: table;
				clear: both;
			}
		}
		.bttn {
			width: 60px;
			height: 22px;

			color: #fff;
			background: #464a40;
			font-family: ChunkFive, sans-serif;
			font-size: 12px;
			float: right;
			.transition;

			&:hover{
				background: #737e63;
			}
		}
	}//list

	.item {
		border-left: 1px solid #7a7e75;
		display: flex;
		align-items: flex-end;

		.spoon {
		}
	}//item

	.social {
		align-self: flex-end;
		margin-left: 25px;
		padding-right: 25px;

		h6 {
			font-family: 'Verdana', sans-serif;
			font-size: 10px;
			color: #fff;

			span {
				font-weight: bold;
			}
		}

		.media {
			margin-bottom: 10px;

			a {
				margin-left: 10px;
			}
		}

		p {
			font-size: 10px;
			color: #fff;
		}
	}//social
}//contact-section 

@media screen and (max-width: 992px) {
	.contact-section {
		flex-wrap: wrap;
		justify-content: center;
		padding: 10px 25px;

		.list {
			width: 100%;
			text-align: center;
			border: none;
			padding-right: 0;

			form {
				max-width: 500px;
				margin: 0 auto;
			}
		}

		.item {
			border: none;

			.spoon {
				width: 100%;
			}
		}

		.social {
			margin-left: 0;
			padding-right: 0;
			text-align: center;
		}
	}

	.tickets-section {
		h2 {
			font-size: 32px;
			line-height: 44px;
			margin-bottom: 15px;
		}
	}
}

@media screen and (min-width: 768px){
	.tickets-section {
		background-size: cover;
	}

	.contact-section {
		background-size: cover;

	}
}

@media screen and (max-width: 768px) {
	.tickets-section {
		background-size: cover;
	}

	.contact-section {
		background-size: cover;
		flex-wrap: wrap;
	}
	.text-section{
		p{
			font-size: 18px;
			line-height: 20px;
			padding: 0 15px;
		}
	}
	.slide-section .photo{
		margin-bottom: 25px;
	}
}
@media screen and (max-width: 700px) {
	.slide-section{
		text-align: center;

		img{
			display: inline-block;
		}
		.slick-dots{
			display: flex!important;
			justify-content: center;
			margin-top: 15px;

			.slick-active{
				button{
					background: #fcf79b;
				}
			}
			button{
				font-size: 0;
				width: 10px;
				height: 10px;
				border-radius: 50%;
				margin: 5px;
				background: #626859;
			}
		}
	}
}