.login {
  .mfp-hide {
    // display: none!important;
    display: block!important;
  }

  .form-login {
    padding: 116px 0 131px 10px;
    .popup {
      background: @linen;
      max-width: 436px;
      max-height: 418px;
      margin: 0 auto;
      text-align: center;
      padding: 44px 58px 97px;
      margin-bottom: 13px;

      input:not([type=submit]) {
        padding: 22px 17px;
      }

      input:nth-child(2) {
        margin-bottom: 12px;
      }

      .btn-link {
        background: #FAFAF8;
        border: 1px solid transparent;
        margin-top: 35px;
        padding: 12px 57px;

        &:hover {
          border: 1px solid @black;
        }
      }
    }
  }

  .form__exclusive,
  .trial {
    display: none;
  }

  .follow {
    .flex {
      padding: 23px 0;
    }
  }

  @media screen and (max-width: 768px) {
    .main-header {
      .main-menu{
        margin-left: -15px;
      }
    }
  }

  @media screen and (max-width: 500px) {
    .center {
      padding: 0 15px;
    }

    .form-login {
      .popup {
        padding: 30px;
      }
    }

    .form__exclusive,
    .trial {
      display: grid;
    }
  }
}